
.logo span {
  color: var(--secon-font-color);
}
.header_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* margin-right: 150px; */
}
.logo h2 {
  font-size: 40px;
  font-weight: bold;
  padding: 20px 150px;
}
.social ul {
  display: flex;
  padding-left: 285px;
}
.social ul li {
  list-style: none;
  margin-right: 20px;
}
.social ul li :last-child {
  margin-right: 0;
}
.social ul li a {
  text-decoration: none;
  font-size: 17px;
}
.social ul li a:hover {
    border-bottom: 5px solid var(--secon-font-color);
}
