.header_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    margin: 30px 50px;   
    font-size: 20px;
    /* position: fixed; */
}
.header_logo h1{
    padding-left: 85px;
}
.header_menu ul{
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 462px; */
}
.header_menu ul li{
    list-style: none;
    margin-right: 18px;
}
.header_menu ul li:last-child{
    margin-right: 0;
}
.header_menu ul li a{
    text-decoration: none;
    color: var(--font-color);
}
.header_menu ul li a:hover{
    border-bottom: 5px solid var(--secondary-color);
}